.single-bg-img{
    background-image: url('../Images/blog-single.jpg');
}
.blog-date-2{
    display: inline-flex;
}
.blog-date-2 h6{
    font-family:"Poppins",sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;   
    color: #B7B7B7;
    text-transform: capitalize;
}
.blog-date-2 a{
    font-family:"Poppins",sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;   
    color: #FDB03D;
    cursor: pointer;
    margin-left: 0.5rem;
}
.blog-card-data-2{
    margin: 2rem 0rem 1rem 0rem;
}
.single-posts{
    margin: 1.5rem 0rem 2rem 0rem;
    display: grid;
    grid-template-columns: auto auto;
}
.single-post-img{
    height: 395px;
    width: 395px;
    background-image: url('../Images/blog-s1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    cursor: pointer;
}
.single-post-img-2{
    background-image: url('../Images/blog-s3.jpg');
}
.single-post-data a{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;       
    color: #fff;
    transition: 0.5s;   
    cursor: pointer;
}
.share-posts{
    display: inline-flex;
}
.share-btn {
    margin-left: 1.5rem;
}
.share-btn button{
    padding: 6px 14px;
    margin: 0rem 0.5rem 0.5rem 0rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 14px;
    line-height: 24px;   
    font-weight: 500;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(26, 25, 23);
    border: none;
    color:#fff;   
    transition: 0.5s;
}
.share-btn button:hover{
    cursor: pointer;
    background-color: #FDB03D;
    transition: 0.5s;
}
.post{
    margin: 2rem 0rem;
}
.post-btns{
    display: grid;
    grid-template-columns: auto auto;
}
.pre{
    padding: 1rem 0rem;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 30px;   
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}
.pre i{
    margin-right: 0.5rem;
}
.next{
    display: flex;
    justify-content: end;
}
.next i{
    padding-left: 0.5rem;    
}
.recent-comments{
    margin: 1rem 0rem;
}
.recent-comments h3{
    font-family:"Poppins",sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;      
    margin-bottom: 30px;
    color: #fff;
}
.recent-card{
    display: grid;
    grid-template-columns: 15% auto;
    border: 1px solid rgb(255, 255, 255 ,0.2);
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}
.recent-card-img{
    background-image: url('../Images/testi1.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 50%;
    height: 85px;
    width: 85px;
    cursor: pointer;
}
.recent-card-img-2{
    background-image: url('../Images/testi2.jpg');
}
.recent-card-2{
    height: 19rem;
}
.reply-comment{
    margin: 2rem 0rem;
    position: absolute;
}
.recent-card-img-3{
    float: left;
    margin: 1rem 0rem;
}
.recent-card-data-2{
    margin: 2rem 0rem;
    padding-left: 7rem;
}
.reply-2{
    margin: 20rem;
}
.recent-card-data h5{
    font-family:"Poppins",sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;      
    margin-bottom: 5px;
    color: #fff;
}
.recent-date a{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 24px;   
    font-weight: 400;   
    color: #888888;
}
.reply{
     margin-left: 27rem;
     color: #FDB03D !important;
     cursor: pointer;
}
.reply i{
    margin-right: 0.5rem;
}
.recent-card-data p{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 26px;   
    font-weight: 400;   
    color: #B7B7B7;
}
.inputs{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
.inputs input{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 28px;   
    font-weight: 400;   
    padding: 12px 15px;
    border: 1px solid rgb(255, 255, 255 ,0.2);
    border-radius: 8px;
    color: #fdfffc;
    background-color: #1b1818;
    margin: 1.5rem 0rem;
}
.form textarea{
    height: 150px;
    width: 98.5%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 16px;
    line-height: 28px;   
    font-weight: 400;   
    padding: 12px 0px 0px 15px;
    border: 1px solid rgb(255, 255, 255 ,0.2);
    border-radius: 8px;
    color: #fdfffc;
    background-color: #1b1818;
}
.form button{
    margin-left: 44rem
}